body{
    font-family: arial;
    background-color: rgb(246, 244, 244);
}

h1{
    text-align: center;
}

img{
    width: 6em;
    padding: 1.5em;
    padding-bottom: 0.5em;
}

div{
    display: inline-block;
    padding-left: 2em;
    
}


 ul{
    
    padding: 0%;
}


li{
    display: inline;
    padding-left: 5em;
}


a{
    text-decoration: none;
    color: black;
}

input{
    margin-left: 10em;
}

.carousel-container{
    background-color: white;
    width:100% ;
    height: 30em;
}


.boek{
    margin: 1em;
    padding: 2em;
    width:13em;
    height: 20em; 
     
    
}

.eetclub,
.oudstedochter,
.gewoon,
.read {
    width: 10em;
    padding: 0;
    margin: 0;
}


#mijnKnop {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}


.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}


.carousel-container {
    position: relative;
    width: 100%; /* Volledige breedte van het scherm */
    overflow: hidden;
  }

  
  
  .carousel__item{
    transition: ;
  }